NEXT_PUBLIC_SANITY_PROJECT_ID="e6qejmfa"
NEXT_PUBLIC_SANITY_DATASET="production"
SANITY_API_TOKEN="skyh9NK65aIjyoPUXJTOlDA37qXG1Jm6wPIgZfPz4PrZULRfDxfntpFM5HLQAFoeRACZ20HarMgmnSxx979AirdIKnRpF86vfADiUOOglaR5NYg3nKM3fu7jh52SlcNvIBDKY2yesWE7uB6KrlVxQFWnqiY7IScBh4RvFBVoQJgWyJiEZUag"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_51Qwe9JGdmtmcCfJJm4iWj7TFIAqMKJuSh8oAPfniKuFm9Jr9VtU2GPQcjevLFhHA7Oe1tJ3wk84cmvfVIAgCjdEr00Xr5AJozk"
STRIPE_SECRET_KEY="sk_test_51Qwe9JGdmtmcCfJJsOKM7bxPFkETldRRSjOQMA2TdN5SCOTt4RGRCzfMaKGh5R9HWdDePqI9hKGDnHHDi8teLWjP00nxAqdEq4"
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyBrViq7aJkkWbmkmGx6R5HO58vAuy6IVhs"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="apdojo.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="apdojo"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="apdojo.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="960965663791"
NEXT_PUBLIC_FIREBASE_APP_ID="1:960965663791:web:9cc89240142c5b2a1fbada"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-MKRHGQF4NX", 


